@media (max-width: 992px) and (min-width: 750px) {
	.wrap {
		@include wrap-styles(712px);

		header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
			.img-href {
				img {
					width: 120px;
				}
			}
			nav {
				margin-top: 35px;
				ul {
					list-style-type: none;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					li {
						font-size: 1.2em;
						
						a {
							text-decoration: none;
							color: $link_color;
							font-style: italic;
							padding: 35px 15px 0 15px;
						}
						
						a:hover {
							color: $link_focus-color;
						}
					}
					.t-tastemakers {
						a {
							background: no-repeat url(../../public/images/nav-tastemakers.png) 50% 0%;
						}
					}
					.t-blog {
						a {
						background: no-repeat url(../../public/images/nav-blog.png) 50% 0%;
						}
					}
					.t-vendors {
						a {
						background: no-repeat url(../../public/images/nav-alist.png) 50% 0%;
						}
					}
					.t-contribute {
						a {
						background: no-repeat url(../../public/images/nav-contribute.png) 50% 0%;
						}
					}
					.t-about {
						a {
						background: no-repeat url(../../public/images/nav-about.png) 50% 0%;
						}
					}
				}
				.decoration-line {
					display: none;
				}
			}

		}

		.content {
			.featured {
				border-bottom: none;
				position: relative;
				section {
					width: 712px;
					height: 445px;
					background-position: 0% 0%;
					position: relative;
					
					align-items: flex-end;
					
					a {
						
						margin-bottom: 70px;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						h2 {
							padding: 7.5px 30px;
							
							font-size: 1.3em;
							 
						}
						h3 {
							padding: 10px 28px;
							font-size: 1em;
							
						}
					}
					a:hover {
						h2, h3{
							opacity: .75;
						}
						
					}
				}
				.photo-by {
					display: block;
					position: absolute;
					right: 10px;
					margin-top: -35px;
					border: 2px solid #fff;
					border-radius: 4px;
					background-color: #fff;
					box-sizing: content-box;
					opacity: 0.6;

					p {
						
						padding: 0;
						
					}
				}
			}

			.nav {
				display: block;
				ul {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-start;
					list-style: none;
					li {
						width: 25%;
						border-left: 1px solid rgba(192, 192, 192, .3);
						border-right: 1px solid rgba(192, 192, 192, .3);
						background-color: #D9EFEC;
						a{
							text-decoration: none;
							color: $link_color;
							text-align: center;
							h4 {
								font-size: .85em;
								font-weight: normal;
								padding: 7px 0;
							}
							p {
								display: none;
							}
						}
						a:hover {
							color: $link_focus-color;
						}
					}
				}

			}

			.newsletter {
				
				border-top: 1px dashed rgb(192, 192, 192);
				border-bottom: 1px dashed rgb(192, 192, 192);
				margin-top: 25px;
				display: flex;
				align-items: center;
				p {
					width: 60%;
					
					display: inline-block; 
				}
				form {
					
					display: inline-block;
					border-bottom: none;
					
					.submit {
						
						input {
							
							width: 80px;
							
						}
					}

				}
			}

			.blog {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
				padding: 20px 5px;
				article {
					width: 160px;
					padding: 0;
					a {
						
						img {
							width: 160px;
							
						}
						
					}
					
					
					
				}
			}
		}
		aside {
			display: none;
		}
	}

	.blog-post-multiple {
		.blog-header {
			p {
				width: 480px;
			}
		}
		width: 100%;
		clear: both;
		display: table;
		.blog-content {
			width: 480px;
			float: left;
			.group {
				div {
					float: right;
					img {
						margin-left: 10px;	
					}
				}
			}
			footer {
				clear: both;
				display: block;	
			}

		}
		.aside-right {
			float: right;
			width: 200px;
			.search {
				form {
					fieldset {
						input {
							width: 100px;							
						}
						.btn-go {
							width: 50px;
						}
					}
				}
			}
		}
	}
	.gallery {
		.articles {
			article {
			width: 340px;
			}
		}
	}
}